{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="dx-main">
    <div class="dx-box-1 pb-100 bg-grey-6">
        <div class="container">
            <div class="row vertical-gap md-gap">
                <div class="col-lg-8">
                    <h2 class="h4">Write A New Article</h2>
                    <div class="dx-box mt-55">
                        <form action="" method="POST" class="dx-form mt-50 mb-45">
                            <div class="row vertical-gap">
                                <div class="col-12">
                                    {% csrf_token %}
                                    {{ article_form }}
                                    <input type="submit" class="dx-btn dx-btn-lg" value="Post">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}