{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="dx-main">
    <div class="dx-box-5 pb-100 bg-grey-6">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="dx-box-decorated">
                        <div class="dx-box-content">
                            
                                <h2 class="h4 text-center">Articles Edited</h2>
                                <div class="table-responsive">
                                    <table class="dx-table dx-table-default">
                                        <thead>
                                            <tr>
                                                <th scope="col">Title</th>
                                                <th scope="col">Writer</th>
                                                <th scope="col">Editor</th>
                                                <th scope="col">Status</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for article in articles %}
                                            <tr>
                                                <td>{{ article.title }}</td>
                                                <td>{{ article.written_by }}</td>
                                                <td>{{ article.edited_by }}</td>
                                                <td>{{ article.status }}</td>
                                               
                                            </tr>
                                            {% endfor %}                                 
                                        </tbody>
                                    </table>
                                </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}