{% load static %}

<!-- START: Footer -->
<footer class="dx-footer">
    <div class="dx-box-1">
        <div class="container">
            <div class="row vertical-gap lg-gap">
                <div class="col-sm-12 col-lg-12 text-center">
                    <div class="dx-widget-footer">                    
                        <div class="dx-widget-text">
                            <p class="mb-0">&copy; {% now "Y" %}  <span
                                    class="dib">Toy Blog</span> <span class="dib">All rights reserved.</span>
                            </p>
                        </div>                        
                    </div>
                </div>  
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END: Footer -->

</div>

<!-- Bootstrap -->
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- jQuery -->
<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>

</body>

</html>